# Carry out tests on pull requests
name: PR Tests

on:
  pull_request:
    branches: [ 'master' ]

permissions:
  contents: read

env:
  LD_LIBRARY_PATH: /opt/hostedtoolcache/Python/3.10.8/x64/lib/python3.10/site-packages/jep/

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10.8'
      - name: Install Python dependencies
        shell: bash
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install jep
          python -m pip install alt-profanity-check
      - name: Test Pull Request
        uses: gradle/gradle-build-action@v3
        with:
          arguments: build test